<nav class="nav">
  <h1><a href="/" style="text-decoration: none; color:white">Daily Weather</a>
  </h1>

  <ul>
    <li><a href="/">Home</a></li>

    <li><a href="./weather">Weather</a></li>
  </ul>
</nav>