*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e2e69), to(rgba(9, 47, 180, 0)));
  background: linear-gradient(180deg, #1e2e69 0%, rgba(9, 47, 180, 0) 100%);
  position: relative;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  margin-right: 10%;
  margin-left: 10%;
}

.header h1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.header ul {
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header ul li {
  list-style-type: none;
  padding-bottom: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header ul li a {
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.header ul li:hover {
  border-bottom: 2px solid white;
}

main .content {
  z-index: 20;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .content h1 {
  font-size: 35px;
  font-weight: 500;
}

main .content a {
  z-index: 30;
  cursor: pointer;
  width: 70%;
  margin: auto;
  text-decoration: none;
  background: #4a9bd5;
  padding: 12px 40px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .content a:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
}

main .content a:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

main .sun {
  width: 10%;
  position: absolute;
  left: 0;
  top: 15%;
}

main .cloud {
  width: 10%;
}

main .wave-1 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 16%;
  -webkit-animation: waves linear 10s infinite;
          animation: waves linear 10s infinite;
}

main .wave-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  -webkit-animation: waves linear 10s infinite;
          animation: waves linear 10s infinite;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav h1 {
    font-size: 24px;
  }
  .nav ul {
    width: 30%;
  }
  main .content h1 {
    font-size: 25px;
  }
  main .content a {
    font-size: 16px;
    width: 80%;
  }
  main .sun {
    top: 22%;
  }
}

@media (max-width: 500px) {
  .nav ul {
    margin-right: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  .nav ul li {
    text-align: right;
  }
  .nav h1 {
    font-size: 20px;
  }
  .cloudSun .sun {
    top: 20%;
  }
  .content h1 {
    font-size: 20px;
  }
  .content a {
    font-size: 14px;
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */